@charset 'utf-8';

@import "./scss/base/resets";
@import "./scss/abstracts/fonts";
@import "./scss/abstracts/variables";

//main layouts
@import "./scss/layouts/main";
//Components
@import "./scss/components/nav";
@import "./scss/components/search-bar";
@import "./scss/components/home";
@import "./scss/components/card";

#app {
  width: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
}
