.card {
  max-width: 325px;
  max-height: 600px;
  background: $nav-background-primary;
  border: 1px solid $text-primary;
  transition: transform 0.5s ease;
  border-radius: $card-border-radius;
}
// .card:hover {
//   transform: scale(1.02);
// }

.card-container {
  height: 100%;
}
.img-container {
  height: 300px;
  position: relative;
}

.img-container > svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px 10px 0 0;
}

.card-details {
  height: calc(100% - 300px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-sub-details {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
  color: $text-primary-dark;
}

.card-summary {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.card-summary-text {
  color: $text-primary-light;
  height: 100px;
  overflow-y: scroll;
}

.card-summary-text::-webkit-scrollbar {
  display: none;
}

.card-img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.card-actors {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
  font-style: italic;
  color: $text-primary-dark;
}

.card-action-group {
  // margin-top: auto;
}

.card-btn:hover {
  background: $text-primary;
  color: $background-primary;
  justify-self: flex-end;
}
